<div class="jumbotron">
	<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">
		<span ng-bind-html="alert.msg"></span>
	</alert>
	<div class="row">
		<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
			<form>
			<p>
				This building is a machine that runs only on air. <br/>
				With four large sails it travels nowhere.
			</p>
			<p>
				<input type="text" class="form-control" rows="5" ng-model="$parent.answer" />
			</p>
			<p>
				<a class="btn btn-primary btn-lg" ng-click="checkAnswer(['windmill', 'windmills'], 'Oops, that\'s not quite right. Check out the hint below.')" role="button">Answer</a>
				<a class="hint" ng-click="$parent.showHint = true">Need a hint?</a>
			</p>
			</form>
		</div>
		<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
			<div collapse="!showHint">
				<img src="https://postmediamontrealgazette2.files.wordpress.com/2013/03/1276051231_98879510_5-don-quijote-de-la-mancha-malaga-1276051231.jpg" class="img-responsive" />
			</div>
			<div collapse="!correctAnswer">
				<p>
					Congratulations! You can be on your way. <br/>
					Head over to <a href="http://www.burnsidefarms.com/" target="_blank">Burnside</a> and discover a beautiful day
				</p>
				<p><a href="http://30minutecrafts.com/2014/06/printable-windmill.html" target="_blank">Make your own windmill!</a></p>
			</div>
		</div>
	</div>
</div>
